* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 14px;
  color: #3e3e3e;
  background: #dce2fe;
}
a {
  color: #3E3E3E;
  text-decoration: none;
}
ul {
  list-style: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.set-center {
  width: 100%;
  max-width: 960px;
  margin: auto;
}
.header {
  background: #6699cc;
  margin-bottom: 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.1);
}
.header div {
  width: 100%;
  max-width: 960px;
  margin: auto;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
}
.header div a {
  color: white;
}
.header div span {
  color: white;
  font-size: 16px;
}
.markdown {
  word-break: break-all;
  word-wrap: break-word;
}
.markdown blockquote {
  border-left: 10px solid #aaa;
  padding: 10px 20px;
  background-color: #f4f7f8;
}
.markdown pre {
  color: white;
  background: #222827;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
}
.markdown p {
  font-size: 16px;
  line-height: 20px;
}
.markdown p,
.markdown pre,
.markdown blockquote {
  margin: 0 0 1.1em;
}
.markdown blockquote p {
  margin: 0;
}
.markdown img {
  max-width: 100%;
  height: auto;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 1.5em 0;
}
.wapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
  border-bottom: 2px solid #aaa;
  margin-bottom: 20px;
}
.wapper .des {
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  margin: 15px 0px;
}
.content {
  width: 100%;
  max-width: 960px;
  margin: auto;
}
