.markdown {
  word-break: break-all;
  word-wrap: break-word;
}
.markdown blockquote {
  border-left: 10px solid #aaa;
  padding: 10px 20px;
  background-color: #f4f7f8;
}
.markdown pre {
  color: white;
  background: #222827;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
}
.markdown p {
  font-size: 16px;
  line-height: 20px;
}
.markdown p,
.markdown pre,
.markdown blockquote {
  margin: 0 0 1.1em;
}
.markdown blockquote p {
  margin: 0;
}
.markdown img {
  max-width: 100%;
  height: auto;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 1.5em 0;
}
.markdown a {
  text-decoration: underline;
}
.markdown a:link {
  color: blue;
}
.markdown a:visited {
  color: blue;
}
.markdown a:hover {
  color: red;
}
.markdown a:active {
  color: yellow;
}
.markdown code {
  width: 100%;
}
.markdown pre {
  overflow-x: auto;
}
