* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei", "tahoma", "Srial", "helvetica", "sans-serif";
    font-size: 14px;
    color: #3e3e3e;
}

a {
    color: #3E3E3E;
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

//设置居中，宽度默认1180，结果为传入数字*10,
.set-center {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

