<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script type="text/javascript" src='/vendor/marked.min.js'></script>
    <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/icon/blog.png">
    <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <div class="header">
        <div><a href="/" style="color: white">我的博客|</a><span>学习笔记</span></div>
    </div>
    <div class="wapper">
        <h1 class="title"></h1>
        <div class="des"></div>
    </div>
    <div class="content markdown"></div>
    <script type="text/javascript" src="/js/blog.js"></script>
</body>

</html>