<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="coderlhz的博客，记录我前端的学习历程">
    <meta name="keywords" content="博客 前端 学习记录">
    <link rel="shortcut icon" href="/icon/blog.png">
    <script src="https://cdn.bootcss.com/vue/2.4.1/vue.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="header">
        <div><a href="javascript:void(0)">我的博客|</a><span>首页</span></div>
    </div>
    <div id="app">
        <div class="wapper" v-for="data in list">
            <div class="titlewapper">
                <div class="title"><a :href="'/blog.html?id='+data._id">{{data.title}}</a></div>
                <div class="des">{{data.des}}</div>
                <ul class="info">
                    <li class="time">发布于{{data.time}}</li>
                    <li>作者 coderlhz</li>
                    <li class="click">{{data.click}}次浏览</li>
                    <li class="type">类型 {{data.type}}</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>