<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
    <script src="https://cdn.bootcss.com/vue/2.4.1/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="header">
        <div><a href="javascript:void(0)">我的博客|</a><span>首页</span></div>
    </div>
    <div id="app">
        <div class="wapper" v-for="data in list">
            <div class="titlewapper">
                <div class="title"><a :href="'/blog.html?id='+data._id">{{data.title}}</a></div>
                <div class="des">{{data.des}}</div>
                <ul class="info">
                    <li class="time">发布于{{data.time}}</li>
                    <li>作者 coderlhz</li>
                    <li class="click">{{data.click}}次浏览</li>
                    <li class="type">类型 {{data.type}}</li>
                    
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>